*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


:root{
    --tobo.primary_color: rgba(255,255,255,255);
    --tobo.logo: rgba(0,0,0,255);
    --tobo.bg: rgba(246,248,249,255);
    --tobo.fontcolour: rgba(68,72,81,255);
    --tobo.editorial: rgba(69,171,234,255);
    --tobo.goals: rgba(156,114,228,255);
    --tobo.recruiting: rgba(156,114,228,255);
    --tobo.mobile: rgba(242,158,51,255);
    --tobo.website: rgba(216,99,161,255);
    --tobo.sales: rgba(176,201,38,255);
    --tobo.check: rgba(137,209,194,255);



.logo{
    display: inline-block;
}

#banner {
    font: 30px bold rgba(68,72,81,255);

    
}